.btn-row {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: flex-start;
}

.btn-row .mat-button-base:nth-child(even) {
  align-self: flex-end;
}

@media (min-width: 600px) {
  .btn-row {
    width: auto;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    align-items: flex-end;
  }

  .btn-row .mat-button-base:nth-child(even) {
    align-self: flex-start;
  }
}